@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
}

/*Color principal de la pagina*/
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: #888888;
}


/*INDEX*/
/* Acomodar las pestañas de navegación en la parte superior izquierda del index*/

.header-superior {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.menu-pestañas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu-pestañas li a {
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-pestañas li a:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 10px rgb(185, 185, 185);

}

.seccion-regristro {
    width: 100px;

    /*Separo las imágenes de los lugares a visitar y estas se pueden seleccionar para ser direccionados al 
    apartado con mas informacion del lugar seleccionado */
    /* Estilos para la seccion de lugares con animaciones y mas prolijo estilo galeria */
    /* Contenedor general de las imagenes */
}    

/*VIDEO INICIAL MOSTRANDO LA CIUDAD*/
.video-inicial {    
    position: relative;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 500px;
    overflow: hidden;
}

.video-inicial video {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*TEXTO ENCIMA DEL VIDEO*/
.contenido-cabecera {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            z-index: 3;        /* Lo pone bien al frente para que se pueda leer */
            width: 100%;
        }


/*CUADROS DE TEXTO JUNTOS*/
/* Contenedor de dos columnas para los textos uno al lado del otro*/
.contenedor-dos-columnas {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px 0;
}

.columna-caja {
flex: 1;
background-color: #474747;
padding: 20px;
border-radius: 10px;
color: rgb(255, 255, 255);
}

.titulo-columna{
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;  
}


/*IMAGENES ESTILO GALERIA*/
/*Muestra de imagenes de lugares mas visitados de la ciudad*/
    .lugares-galeria {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        max-width: 2000px;
        margin: 30px auto;
    }

    /* Tamaño de las imagenes dentro de la galeria */
    .lugares-galeria a {
        width: 45%;
    }

    /*Estilo y efecto de la imagen dentro de la galeris*/
    .lugares-galeria img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    /* Efecto al pasar el mouse sobre la imagen */
    .lugares-galeria img:hover {
        transform: scale(1.05); 
        box-shadow: 0 4px 15px rgb(253, 253, 252);
    }   


    

